@{
    ViewData["Title"] = "Заявка";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/jobPlacement.css" runat="server" />
    <script src="https://use.fontawesome.com/5d4de9dc4f.js"></script>
    <title>@ViewData["Title"] | MAXon28</title>
</head>
<body class="body-jobPlacement">
    <div class="scene-jobPlacement">
        
    </div>
    <script src="~/js/jquery-3.5.1.js"></script> 
    <script src="~/js/jobPlacement.js"></script>
</body>
</html>