.body-catalog {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #E0FFFF, #edeef0);
    //background: #edeef0;
    background-size: cover;
}

.scene-catalog {
    min-width: 728px;
    margin: 40px auto;
    margin-bottom: 5px;
    font-size: 0;
}

.header {
    font-weight: bold;
    font-size: 22px;
    font-family: system-ui;
    text-align: left;
    margin: 0;
    margin-left: 12px;
    margin-bottom: 8px;
    padding: 0;
    background-color: #211F30;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 2px rgb(255 255 255 / 30%);
    text-transform: uppercase;
    opacity: 1;
    transition: 1.28s opacity ease-in-out;
}

.searchBlock {
    padding: 0;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 16px #ccc;
    width: 428px;
}

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input, button {
    color: #211f30;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

input[type="text"] {
    outline: none;
    padding: 12px 12px;
    width: 100%;
    transition: border 328ms;
    font-family: sans-serif;
    height: 40px;
    font-size: 22px;
    line-height: 1;
}

input[type="text"]::placeholder {
    color: #e0e0e0;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

.tb button {
    position: relative;
    display: block;
    width: 55px;
    height: 67px;
}

#s-circle {
    position: relative;
    top: 0px;
    left: 0;
    width: 19px;
    height: 19px;
    margin-top: 0;
    border: 5px solid #e29930;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
    cursor: pointer;
}

.tb button span {
    position: absolute;
    top: 61px;
    left: 50px;
    display: block;
    width: 19px;
    height: 28px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.tb button span:before, .tb  button span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 47px;
    width: 12px;
    height: 8px;
    background-color: #e29930;
    border-radius: 5px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
    cursor: pointer;
}

.mainBlock {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 55px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.filtersBlock {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 328px;
}

.servicesBlock {
    display: flex;
    flex-direction: column;
}

.serviceBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.28s;
}

.serviceBlock:hover {
    background: white;
    box-shadow: 0 4px 16px #ccc;
}

.serviceIcon {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: white;
    margin: 0 12px;
    box-shadow: 0.5px 0.5px 5px 0 #ddd;
}

.serviceName {
    font-size: 19px;
    font-family: system-ui;
    font-weight: 500;
    text-align: left;
    color: #211F30;
}

.channelsBlock {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.channels {
    display: flex;
    flex-direction: column;
} 

.channelBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.28s;
}

.channelBlock:hover {
    background: white;
    box-shadow: 0 4px 16px #ccc;
}

.channelColor {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: lightskyblue;
    margin: 0 12px;
    box-shadow: 0.5px 0.5px 5px 0 #ddd;
}

.channelName {
    font-family: system-ui;
    font-weight: 500;
    text-align: left;
    color: #211F30;
}

.channelNameInFilters {
    font-size: 19px;
}

.viewAll {
    font-size: 19px;
    font-family: sans-serif;
    color: #211f30;
    margin-left: 12px;
    cursor: pointer;
}

.postsBlock {
    width: calc(100% - 328px);
}

.sBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 128px;
}

.postBlock {
    margin-top: 28px;
    margin-left: 128px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 16px #ccc;
    display: flex;
    flex-direction: column;
    max-width: 867px;
    align-self: flex-start;
}

.firstSection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 28px;
    margin-top: 12px;
}

.channelNameInPost {
    font-size: 18px;
    margin: 0;
    cursor: pointer;
}

.viewsCountBlock {
    display: flex;
    flex-direction: row;
    color: #cdcac7;
    align-items: center;
    margin-left: 12px;
}

.statisticIcon {
    width: 17px;
    height: 17px;
    margin: 0 5px 1px 3px;
}

.viewsValue {
    font-size: 17px;
    font-family: sans-serif;
    margin: 0;
}

.date {
    font-size: 17px;
    font-family: sans-serif;
    margin: 0;
    margin-left: 15px;
    color: #cdcac7;
}

.secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 28px;
    cursor: pointer;
}

.postDescription {
    font-size: 20px;
    line-height: 28px;
    font-family: sans-serif;
    text-align: justify;
    color: #211F30;
    margin: 22px 0 12px 0;
}

.postHeaderBlock {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.postHeaderImage {
    height: 367px;
    width: 100%;
    margin: 0 auto;
    border-radius: 28px;
    background-size: cover;
    background-position: center;
}

.postHeaderBackColor {
    width: 100%;
    height: 367px;
    background: #211F30;
    border-radius: 28px;
}

.backColorWithImage {
    position: absolute;
    top: 0;
    opacity: 0.67;
}

.postHeaderNameBlock {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 28px;
}

.postHeaderName {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
}

.postHeaderNameWithImage {
    color: white;
}

.postHeaderNameWithoutImage {
    color: #87cefa;
}

.thirdSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 22px 28px;
}

.statisticValue {
    font-size: 17px;
    font-family: sans-serif;
    margin: 0;
    color: #211F30;
    transition: all 0.28s;
}

.noValue {
    display: none;
}

.topchikBlock {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    margin-right: 28px;
    background-color: rgb(33 31 48 / 81%);
    border-radius: 360px;
    padding: 7px 12px;
}

.topchikIcon {
    width: 27px;
    height: 27px;
    margin-right: 5px;
}

.topchikBlock svg {
    transition: all 0.28s;
}

.untopchikUser svg {
    fill: white;
}

.untopchikUser p {
    color: white;
}

.topchikUser svg {
    fill: #87cefa;
}

.noTopchik svg {
    margin-right: 0;
}

.topchikUser p {
    color: #87cefa;
}

.bookmarksBlock {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    margin-right: 28px;
}

.bookmarksIcon {
    width: 27px;
    height: 27px;
    margin-right: 5px;
    transition: all 0.28s;
}

.notBookmarks {
    fill: none;
    stroke: #211F30;
    stroke-width: 2px;
}

.needBookmarks {
    fill: #e29930;
    stroke: #e29930;
}

.bookmarksValue {
    color: #e29930;
}

.commentsBlock {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.commentsIcon {
    width: 27px;
    height: 27px;
    fill: #211F30;
    margin-right: 5px;
}

.informationBlock {
    display: flex;
    flex-direction: column;
    max-width: 867px;
    margin-top: 28px;
    margin-left: 128px;
    border-radius: 12px;
    background-image: linear-gradient(#ffef7e, white 67%);
    box-shadow: 0 4px 16px #ccc;
}

.channelNameInHeader {
    font-size: 40px;
    text-align: center;
    margin-top: 128px;
    margin-bottom: 28px;
}

.subscriptionsVariantBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px 0 28px 0;
}

.subscriptionButton {
    font-size: 19px;
    font-family: sans-serif;
    background: #e0e0e040;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
    width: 255px;
    height: 40px;
}

.subscribeButton::before {
    content: "✔ Вы подписаны";
}

.subscribeButton:hover::before {
    content: "✖ Отписаться";
}

.notSubscribeOnChannelButton::before {
    content: "Подписаться на канал";
}

.notSubscribeOnMailingButton::before {
    content: "Подписаться на рассылку";
}

.subscriptionChannel {
    color: #cdcac7;
}

.subscriptionMailing {
    color: #cdcac7;
}

.separator {
    width: 100%;
    height: 1px;
    background: #e0e0e0;
}

.menuBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menuValue {
    font-size: 22px;
    font-family: sans-serif;
    color: #211F30;
    margin: 28px 0 0 0;
    padding-bottom: 12px;
    border-bottom: 1px solid transparent;
    cursor:  pointer;
}

.menuValue:hover {
    border-bottom: 1px solid #211f30;
}

.active {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #211f30;
}

.aboutChannelBlock {
    display: flex;
    background: white;
    max-width: 867px;
    margin-top: 28px;
    margin-left: 128px;
    border-radius: 12px;
    box-shadow: 0 4px 16px #ccc;
}

.aboutChannel {
    margin: 40px 28px;
    font-size: 20px;
    line-height: 28px;
    font-family: sans-serif;
    text-align: justify;
    color: #211F30;
}

.subscriptionsBlock {
    display: flex;
    max-width: 867px;
    margin-top: 28px;
    margin-left: 128px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.channelSubscriptionBlock {
    display: flex;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 16px #ccc;
    align-items: center;
    padding: 7px 22px;
    margin: 28px 0;
    cursor: pointer;
}

.removeSubscription {
    font-size: 19px;
    font-family: sans-serif;
    margin: 0 0 0 28px;
    color: #cecbc8;
    cursor: pointer;
}

.fullWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(4 11 32 / 55%);
    z-index: 1050;
    backdrop-filter: blur(5px);
    margin: 0 auto;
    padding: 28px;
    display: flex;
    align-items: center;
}

.center {
    max-width: 428px;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 16px #211f30;
    position: relative;
    background: #fff;
    margin: 0 auto;
}

.requirement {
    font-size: 28px;
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
}

.requirementDescription {
    font-size: 22px;
    font-family: sans-serif;
    text-align: left;
}

.skipButton {
    position: absolute;
    margin: 0;
    top: 12px;
    right: 28px;
    font-size: 40px;
    font-family: sans-serif;
    color: #e0e0e0;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .sBlock {
        margin-left: 28px;
    }

    .informationBlock {
        max-width: 728px;
        margin-left: 28px;
    }

    .aboutChannelBlock {
        max-width: 728px;
        margin-left: 28px;
    }

    .subscriptionsBlock {
        max-width: 728px;
        margin-left: 28px;
    }

    .postBlock {
        max-width: 728px;
        margin-left: 28px;
    }
}

.filtersMenu {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 28;
}

.filtersMenu + .filtersMenuSpan {
    position: relative;
    top: 7px;
    width: 28px;
    height: 3px;
    padding: 10px 0;
    background-clip: content-box;
    -webkit-background-clip: content-box;
    background-color: #211f30;
    pointer-events: none;
    transition: background-color .5s ease-in-out;
    visibility: visible;
    cursor: pointer;
    z-index: 12;
    margin: 0 5px 0 12px;
}

.filtersMenu + .filtersMenuSpan:before, .filtersMenu + .filtersMenuSpan:after {
    background: #211f30;
    content: '';
    width: 28px;
    height: 3px;
    transition: transform .7s ease-in-out;
    z-index: 12;
    pointer-events: none;
    cursor: pointer;
}

.filtersMenu + .filtersMenuSpan:before {
    top: 2px;
}

.filtersMenu + .filtersMenuSpan:after {
    bottom: 2px;
}

.filtersMenu:focus + .filtersMenuSpan {
    background-color: transparent;
    pointer-events: auto;
}

.filtersMenu:focus + .filtersMenuSpan:before {
    transform: rotate(44deg) translate(5px, 6px);
    cursor: pointer;
}

.filtersMenu:focus + .filtersMenuSpan:after {
    transform: rotate(-44deg) translate(5px, -6px);
    cursor: pointer;
}

.menuFullWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(4 11 32 / 55%);
    z-index: 1050;
    backdrop-filter: blur(5px);
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.filtersBlockFullWindow {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 328px;
    background: white;
    border-radius: 0 28px 28px 0;
    margin-top: 205px;
    padding: 28px 12px;
}

.headerFullWindow {
    font-weight: bold;
    font-size: 22px;
    font-family: system-ui;
    text-align: left;
    margin: 0;
    margin-left: 12px;
    margin-bottom: 8px;
    padding: 0;
    color: #211F30;
    text-transform: uppercase;
}

.serviceBlockFullWindow {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.channelBlockFullWindow {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .channels {
        max-height: 294px;
        overflow: hidden;
    }

    .channels:hover {
        overflow: auto;
    }

    .channels:hover::-webkit-scrollbar {
        width: 5px;
    }

    .channels:hover::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .channels:hover::-webkit-scrollbar-thumb {
        background-color: #e0e0e0;
        border-radius: 5px;
    }

    .postsBlock {
        width: 100%;
    }

    .informationBlock {
        margin: 0 auto;
        margin-top: 28px;
    }

    .aboutChannelBlock {
        margin: 0 auto;
        margin-top: 28px;
    }

    .subscriptionsBlock {
        margin: 0 auto;
        margin-top: 28px;
        justify-content: space-evenly;
    }

    .channelSubscriptionBlock {
        margin: 28px 5px;
    }

    .postBlock {
        margin: 0 auto;
        margin-top: 28px;
    }
}