.body-detail {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background: snow;*/
    background: linear-gradient(180deg, #E0FFFF, #edeef0);
    //background: #edeef0;
    background-size: cover;
    font-family: sans-serif;
}

.scene-detail {
    min-width: 728px;
    margin: 40px auto;
    margin-bottom: 5px;
    font-size: 0;
}

.header {
    font-weight: bold;
    font-size: 37px;
    font-family: system-ui;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #211F30;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 2px rgb(255 255 255 / 30%);
    text-transform: uppercase;
    opacity: 1;
    transition: 1.28s opacity ease-in-out;
}

.container {
    width: 90%;
    padding-top: 28px;
    padding-bottom: 101px;
    margin: 0 auto;
}

.container form {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container div {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container input {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container a {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.frame {
    max-width: 801px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 4px 16px #ccc;
    overflow: hidden;
    transition: all .5s ease;
    display: flex;
}

.inputbox {
    position: relative;
    margin-bottom: 28px;
    width: 100%;
}

.input {
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 19px 12px;
    border-radius: 5px;
    font-size: 19px;
    width: 100%;
    box-sizing: border-box;
    transition: border 328ms;
}

.placeholder {
    color: #e0e0e0;
    font-family: sans-serif;
    left: 12px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 500ms, color 500ms;
    top: 17px;
    background: white;
    font-size: 19px;
    padding: 3px;
}

.input:focus ~ .placeholder, .input:valid ~ .placeholder {
    transform: translateX(-1px) translateY(-28px);
    font-size: 16px;
    color: #87CEFA;
}

.input:focus {
    border: 1px solid #E29930;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.errorMessage {
    display: none;
    color: red;
    font-size: 17px;
    text-align: center;
    font-family: system-ui;
    margin-top: 8px;
    margin-bottom: 0px;
}

.successMessage {
    display: none;
    color: green;
    font-size: 17px;
    text-align: center;
    font-family: system-ui;
    margin-top: 8px;
    margin-bottom: 0px;
}

li {
    padding-left: 10px;
    font-size: 22px;
    display: inline;
    text-align: left;
    padding-right: 10px;
    color: #211f30;
    font-weight: 500;
    font-family: sans-serif;
}

.inputsData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 41px 41px 28px 41px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    transition: all .5s ease;
}

.inputsBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.firstPartBlock {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    width: 50%;
}

.secondPartBlock {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    width: 50%;
}

.success {
  width: 80%;
  height: 150px;
  text-align: center;
  position: relative;
  top: -890px;
  left: 450px;
  opacity: .0;
  transition: all .8s .4s ease;
}

.success-left {
  transform: translateX(-406px);
  opacity: 1;
}

.successtext {
  color: #ffffff;
	font-size: 16px;
	font-weight: 300;
  margin-top: -35px;
  padding-left: 37px;
  padding-right: 37px;
}

#check path {
    stroke: #ffffff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width: .85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(255,255,255,.0);
    transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255,255,255,.03);
}

:focus {outline: none;
}

.btn-replacePassword {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 17px;
    color: #87CEFA;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn-replacePassword span {
    border-bottom: 1px dashed #87CEFA;
    padding-bottom: 1px;
    transition: 0.3s;
}

.btn-replacePassword:hover {
    color: #211F30;
}

.btn-replacePassword span:hover {
    border-bottom: 1px dashed #211F30;
}

.btn-saveData {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 17px;
    color: #fff;
    background-color: #E29930;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    margin-top: 31px;
}

a.btn-saveData:hover {
    cursor: pointer;
    background-color: #0F4FE6;
    transition: background-color .5s;
}

.forgot {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -831px;
    border-top: solid 1px rgba(255,255,255,.3);
    transition: all 0.5s ease;
}

.forgot-left {
  transform: translateX(-400px);
  opacity: 0;
}

.forgot-fade {
  opacity: 0;
}

.forgot a {
    color: rgb(135 206 250);
    font-weight: 100;
    font-size: 15px;
    font-family: sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 35px;
	font-weight: 300;
    text-align: center;
}

.ruleBlock {
    width: 100%;
    margin-bottom: 28px;
}

.ruleCheckboxBlock {
    width: 100%;
    display: flex;
    align-items: center;
}

.ruleCheckboxBlock p {
    color: #211f30;
    font-size: 15px;
    margin: 0;
    font-family: sans-serif;
}

.ruleCheckboxBlock p a {
    color: #87CEFA;
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    width: 100%;
    font-size: 22px;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #211f30;
    border-radius: 3px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 67% 67%;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked + label::before {
    border-color: #211f30;
    background-color: #211f30;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2387cefa' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.fullWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(4 11 32 / 55%);
    z-index: 1050;
    backdrop-filter: blur(5px);
    margin: 0 auto;
    padding: 28px;
}

.skipButton {
    position: relative;
    margin: 0;
    margin-right: 40px;
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
    text-align: right;
}

.frameFullWindow {
    max-width: 581px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 4px 16px #ccc;
    overflow: hidden;
    transition: all .5s ease;
    display: flex;
}