﻿* {
    padding: 0;
    margin: 0;
}

html {
    position: static;
    overflow-y: scroll;
}

body {
    min-width: 728px;
}

header {
    position: relative;
    /* width: 100%; */
    background: #211F30;
    height: 228px;
    /* right: 0; */
    /* top: 0; */
    /* left: 0; */
    /* margin: 0 auto; */
    /* padding: 0; */
    box-shadow: 0 1em 3.28em -1em #87cefa;
    z-index: 1;
    /* display: flex; */
    /* justify-content: center; */
}

header:after {
    position:;
    right: 0;
    left: 0;
    content: "";
    width: 340px;
    height: 147px;
    /*width: 367px;
        height: 167px;*/
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: transparent;
    box-shadow: 0 1em 3.28em -1em #87cefa;
    margin: 0px auto;
    padding: 0;
}

.div-menu {
    max-width: 1365px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#mainCircle {
    position: relative;
    width: 267px;
    border-radius: 100%;
    background: #211F30;
    margin-top: 28px;
    padding: 55px;
    box-shadow: 0 0 12px #87cefa;
    transition: all 1s;
}

#circle {
    position: relative;
    width: 267px;
    padding-top: 267px;
    border-radius: 100%;
    background: url('/MAXon28 1.jpg ') center white;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 267px;
    font-size: 34px;
    /* font-weight: 900; */
    box-shadow: 0 0 67px 1.28px #32384d;
    color: #e29930;
    font-weight: bold;
    font-family: sans-serif;
}

#circle span {
    position: absolute;
    left: 50%; /* все буквы собрать в одну точку по середине */
    width: 0; /* убрать отступ */
    /*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    font-family: system-ui;*/
}

#circle span:nth-of-type(-n+16) {
    bottom: 50%;
    transform-origin: 0% 100%;
    padding-bottom: 50%; /* от значения свойства зависит приближение текста к центру круга */
}

#circle span:nth-of-type(1) {
    color: #87CEFA;
    transform: rotate(255deg);
}

#circle span:nth-of-type(2) {
    transform: rotate(274deg);
}

#circle span:nth-of-type(3) {
    transform: rotate(285deg);
}

#circle span:nth-of-type(4) {
    transform: rotate(294deg);
}

#circle span:nth-of-type(5) {
    transform: rotate(302deg);
}

#circle span:nth-of-type(6) {
    transform: rotate(311deg);
}

#circle span:nth-of-type(7) {
    transform: rotate(320deg);
}

#circle span:nth-of-type(8) {
    transform: rotate(329deg);
}

#circle span:nth-of-type(9) {
    transform: rotate(340deg);
}

#circle span:nth-of-type(10) {
    transform: rotate(16deg);
}

#circle span:nth-of-type(11) {
    transform: rotate(29deg);
}

#circle span:nth-of-type(12) {
    transform: rotate(38deg);
}

#circle span:nth-of-type(13) {
    transform: rotate(47deg);
}

#circle span:nth-of-type(14) {
    transform: rotate(56deg);
}

#circle span:nth-of-type(15) {
    transform: rotate(65deg);
}

#circle span:nth-of-type(16) {
    transform: rotate(84deg);
}

/* нижние 17 букв «shpargalkablog.ru» */
#circle span:nth-last-of-type(-n+15) {
    top: 50%;
    transform-origin: 50% 0;
    padding-top: 50%;
    background: #211f30;
    color: #87CEFA;
}

#circle span:nth-last-of-type(1) {
    transform: rotate(292deg);
}

#circle span:nth-last-of-type(2) {
    transform: rotate(301deg);
}

#circle span:nth-last-of-type(3) {
    transform: rotate(310deg);
}

#circle span:nth-last-of-type(4) {
    transform: rotate(319deg);
}

#circle span:nth-last-of-type(5) {
    transform: rotate(328deg);
}

#circle span:nth-last-of-type(6) {
    transform: rotate(337deg);
}

#circle span:nth-last-of-type(7) {
    transform: rotate(346deg);
}

#circle span:nth-last-of-type(8) {
    transform: rotate(355deg);
}

#circle span:nth-last-of-type(9) {
    transform: rotate(4deg);
}

#circle span:nth-last-of-type(10) {
    transform: rotate(13deg);
}

#circle span:nth-last-of-type(11) {
    transform: rotate(22deg);
}

#circle span:nth-last-of-type(12) {
    transform: rotate(40deg);
}

#circle span:nth-last-of-type(13) {
    transform: rotate(49deg);
}

#circle span:nth-last-of-type(14) {
    transform: rotate(58deg);
}

#circle span:nth-last-of-type(15) {
    transform: rotate(63deg);
}

.div-menu nav {
    width: 410.5px;
    background: transparent;
    align-self: center;
}

.div-menu nav div {
    display: flex;
}

.div-menu nav a {
    color: #87cefa;
    font-size: 22px;
    font-family: system-ui;
    font-weight: 500;
    text-decoration: none;
    transition: 1.28s;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
}

.a-brand {
    width: 379px;
    height: 155px;
    margin: 0 auto;
    z-index: 1;
}

.popupMenu {
    display: none;
    visibility: collapse;
}

.div-main {
    padding-top: 167px;
    min-height: 528px;
    -webkit-backdrop-filter: blur(2.67px);
    -moz-backdrop-filter: blur(2.67px);
    backdrop-filter: blur(2.67px);
    -o-filter: blur(2.67px);
    -ms-filter: blur(2.67px);
}

main {
    min-height: 100%;
}

footer {
    min-width: 728px;
    white-space: nowrap;
    background: #211F30;
    color: whitesmoke;
}

.divContacts {
    width: 94%;
    min-width: 467px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.divContacts p {
    width: 100%;
    font-size: 17px;
    color: #e29930;
    font-weight: bold;
    text-align: center;
    margin: 19px 0;
    font-family: sans-serif;
}

.contactsList {
    display: flex;
}

.contactListWithoutText {
    display: none;
}

.contactsList, .contactListWithoutText {
    justify-content: space-around;
}

.divPrivacy {
    width: 94%;
    min-width: 467px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.divPrivacy p {
    width: 100%;
    font-size: 17px;
    color: #e29930;
    font-weight: bold;
    text-align: center;
    margin: 19px 0;
    font-family: sans-serif;
}

.privacyList {
    display: flex;
    justify-content: center;
}

.privacyList a {
    margin: 0 55px;
}

.contactsList, .contactListWithoutText, .privacyList {
    width: 94%;
    align-items: center;
    align-content: center;
    margin: 0;
    margin-bottom: 19px;
}

.contactsList a, .contactListWithoutText a, .privacyList a {
    font-size: 16px;
    text-decoration: none;
    color: #87CEFA;
    font-family: sans-serif;
}

.divCompany {
    width: 428px;
    margin: 0 auto;
    display: flex;
    line-height: 98px;
}

.divCompany p {
    width: 100%;
    font-size: 17px;
    color: #87CEFA;
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

input[type=checkbox] {
    visibility: collapse;
    display: none;
}

@media screen and (max-width: 1020px) {
    .rightNav, .leftNav {
        display: none;
        visibility: collapse;
    }

    .authorization {
        margin-right: 0;
    }

    .popupMenu {
        position: absolute;
        top: 19px;
        right: 0;
        margin-right: 28px;
        width: 56px;
        height: 56px;
        background: rgba(33, 31, 48, 0.97);
        opacity: 0.94;
        cursor: pointer;
        z-index: 28;
        border: none;
        border-radius: 360px;
        display: block;
        visibility: visible;
    }

    .popupMenu:focus-within {
        transform: scale(100) translate(0px);
        cursor: default;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 28;
    }

    .popupMenu:focus ~ .rightNav, .popupMenu:focus ~ .leftNav {
        position: absolute;
        visibility: visible;
        margin: 0 auto;
        display: block;
        opacity: 1;
        z-index: 40;
        text-align: center;
        padding: 0;
        transition: transform .5s ease-in-out;
    }

    .popupMenu:focus ~ .rightNav {
        top: 148px;
    }

    .popupMenu:focus ~ .leftNav {
        top: 28px;
    }

    .popupMenu ~ .rightNav, .popupMenu ~ .leftNav {
        display: none;
        visibility: collapse;
    }

    .popupMenu:focus ~ .rightNav div, .popupMenu:focus ~ .leftNav div {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .popupMenu:focus ~ .rightNav div a, .popupMenu:focus ~ .leftNav div a {
        margin: 0 auto;
        padding: 0;
        height: 40px;
        font-size: 22px;
    }

    .rightNav:hover, .leftNav:hover {
        z-index: 40;
    }

    button + span {
        position: absolute;
        top: 37px;
        right: 42px;
        width: 28px;
        height: 3px;
        padding: 10px 0;
        background-clip: content-box;
        -webkit-background-clip: content-box;
        background-color: #87cefa;
        pointer-events: none;
        transition: background-color .5s ease-in-out;
        visibility: visible;
        cursor: pointer;
        z-index: 28;
        margin: 0 auto;
    }

    button + span:before, button + span:after {
        position: absolute;
        background: #87cefa;
        content: '';
        width: 28px;
        height: 3px;
        transition: transform .7s ease-in-out;
        z-index: 28;
        pointer-events: none;
        cursor: pointer;
    }

    button + span:before {
        top: 2px;
    }

    button + span:after {
        bottom: 2px;
    }

    button:focus + span {
        background-color: transparent;
        pointer-events: auto;
    }

    button:focus + span:before {
        transform: rotate(44deg) translate(5px, 6px);
        cursor: pointer;
    }

    button:focus + span:after {
        transform: rotate(-44deg) translate(5px, -6px);
        cursor: pointer;
    }
}

@media screen and (max-width: 855px) {
    .contactsList {
        display: none;
    }

    .contactListWithoutText {
        display: flex;
    }

    .privacyList a {
        margin: 0 19px;
    }
}