<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/card.css" runat="server"/>
    <title>@ViewData["Title"] | MAXon28</title>
</head>
<body class="body-card">
    <div class="scene scene--card">
        <div class="card">
            <div class="card__face card__face--front">
                <div class="frontLeft">
                    <p>Безуглый Максим Викторович</p>
                    <p>.NET разработчик</p>
                    <p>Intern/Junior</p>
                </div>
                <div class="frontSeparator"></div>
                <div class="frontRight">
                    Топ
                </div>
            </div>
            <div class="card__face card__face--back">

            </div>
        </div>
    </div>
    <script src="~/js/card.js"></script>
</body>
</html>