@{
    ViewData["Title"] = "Визитка";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/card.css" runat="server" />
    <title>@ViewData["Title"] | MAXon28</title>
</head>
<body class="body-card">
    <div class="scene scene--card">
        <div class="card">
            <div class="card__face card__face--front">
                <div>
                    <div class="container_corner_front container__corner--br">
                        <i class="fa fa-repeat fa-lg" style="font-size: 19px;"></i>
                    </div>
                </div>

                <div class="container_main_content">
                    <div class="container_quote">
                       <svg version="1.1" id="Слой_1" x="0px" y="0px" viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;width: 255px;margin-left: 28px;" xml:space="preserve">
                            <switch>
	                            
	                            <g i:extraneous="self">
		                            <g>
			                            <polygon points="512.19,694.02 512.19,376.23 404.99,376.23 404.99,586.82 512.19,694.02    " fill="#87CEFA"></polygon>
			                            <polygon points="549.85,694.02 657.05,586.82 657.05,338.78 764.25,231.58 512.19,231.58 404.99,338.78      404.99,338.78 549.85,338.78    " fill="#87CEFA"></polygon>
			                            <polygon points="191.57,782.15 176.06,748.88 133.12,748.88 133.12,848.42 161.99,848.42 161.99,783.15      177.49,816.43 205.79,816.43 221.29,783.15 221.29,848.42 250.3,848.42 250.3,748.88 207.21,748.88    " fill="#87CEFA"></polygon>
			                            <polygon points="279.2,748.88 279.2,774.61 291.72,774.61 266.4,828.66 266.4,848.42 337.94,848.42 337.94,822.68      300.25,822.68 326.42,766.37 364.81,848.42 395.67,848.42 349.32,748.88    " fill="#87CEFA"></polygon>
			                            <polygon points="496.54,801.21 521,748.88 490,748.88 473.21,785 451.03,785 434.11,748.88 402.11,748.88      402.11,774.61 415.05,774.61 425.15,796.09 400.69,848.42 431.69,848.42 448.61,812.3 470.8,812.3 487.58,848.42 521.28,848.42      521.28,822.68 506.63,822.68    " fill="#87CEFA"></polygon>
			                            <path d="M529.24,806.49l-0.29,41.93h67.07l13.73-29.37l0.29-43.17h-66.6L529.24,806.49z M554.37,811.41l5.71-12.21     h24.55v14.81l-5.23,11.08h-25.02V811.41z" fill="#87CEFA"></path>
			                            <polygon points="641.61,787.83 641.61,775.88 616.2,775.88 616.2,848.42 641.61,848.42 641.61,812.88 671.86,801.85      671.86,825.1 663.33,825.1 663.33,848.42 697.28,848.42 697.28,775.88 675.04,775.88    " fill="#87CEFA"></polygon>
			                            <polygon points="750.31,811.45 796.53,811.45 816.02,769.35 816.02,748.88 710.21,748.88 710.21,774.61      782.6,774.61 777.48,785.85 721.45,785.85 721.45,822.68 708.51,822.68 708.51,848.42 817.58,848.42 817.58,822.68      750.31,822.68    " fill="#87CEFA"></polygon>
			                            <path d="M934.8,786.99l9.67-21.05v-17.06H837.1v17.06l9.67,21.05h-12.23v61.43h112.34v-61.43H934.8z M909.91,773.76     l-6.11,13.23h-26.03l-6.11-13.23H909.91z M918.87,823.54H862.7v-12.52h56.17V823.54z" fill="#87CEFA"></path>
		                            </g>
	                            </g>
                            </switch>
                        </svg>
                    </div>
                    <div class="container_information">
                        <p class="name">Безуглый Максим Викторович</p>
                        <p class="profession" style="margin-top: 5px;">.NET разработчик</p>
                    </div>
                </div>

                <div class="frontSeparator"></div>

                <div class="container_contacts">
                    <a class="phone" href="tel:+79162185817"><i class="fa fa-phone fa-lg"></i> 8-916-218-58-17</a>
                    <a class="email" href="mailto:maxim28it@gmail.com"><i class="fa fa-envelope fa-lg"></i> maxim28it@gmail.com</a>
                    <a class="telegram" href="https://t.me/maxon2812"><i class="fa fa-telegram fa-lg"></i> Чат в Telegram</a>
                    <a class="whatsUp" href="https://api.whatsapp.com/send?phone=79162185817"><i class="fa fa-whatsapp fa-lg"></i> Чат в What's App</a>
                </div>
            </div>
            <div class="card__face card__face--back" id="back">
                <div>
                    <div class="container_corner_back container__corner--br">
                        <i class="fa fa-repeat fa-lg" style="font-size: 19px;"></i>
                    </div>
                </div>

                <div class="preloader loaded">
                    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
                        </path>
                    </svg>
                </div>

                <p class="header_of_mini_facts">Коротко обо мне:</p>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/js/card.js"></script>
</body>
</html>