<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] | MAXon28</title>
    <link rel="stylesheet" href="~/css/master.css" />
    <script src="https://use.fontawesome.com/5d4de9dc4f.js"></script>
</head>
<body>
    <header>
        <div class="div-menu">
            <input type="checkbox" id="toggle" />
            <button class="popupMenu"></button>
            <span onclick="MenuClick()"></span>
            <nav class="leftNav">
                <div class="leftMenu" tabindex="1">
                    <a style="text-decoration: none;" asp-area="" asp-controller="MAXonBusinessCard" asp-action="AboutMe">ОБО МНЕ</a>
                    <a style="text-decoration: none;" asp-area="" asp-controller="MAXonWork" asp-action="Work">РАБОТА</a>
                    <a style="text-decoration: none;" asp-area="" asp-controller="MAXonBusinessCard" asp-action="Services">УСЛУГИ</a>
                </div>
            </nav>
            <a class="a-brand navbar-brand" asp-area="" asp-controller="MAXonBusinessCard" asp-action="Card">
                <div id="mainCircle">
                    <div id="circle">
                        <span>~</span>
                        <span>Б</span>
                        <span>е</span>
                        <span>з</span>
                        <span>у</span>
                        <span>г</span>
                        <span>л</span>
                        <span>ы</span>
                        <span>й</span>
                        <span>М</span>
                        <span>а</span>
                        <span>к</span>
                        <span>с</span>
                        <span>и</span>
                        <span>м</span>
                        <span>~</span>
                        <span>.</span>
                        <span>N</span>
                        <span>E</span>
                        <span>T</span>
                        <span>Р</span>
                        <span>а</span>
                        <span>з</span>
                        <span>р</span>
                        <span>а</span>
                        <span>б</span>
                        <span>о</span>
                        <span>т</span>
                        <span>ч</span>
                        <span>и</span>
                        <span>к</span>
                    </div>
                </div>
            </a>
            <nav class="rightNav" tabindex="1">
                <div class="rightMenu">
                    <a style="text-decoration: none;" asp-area="" asp-controller="MAXonStore" asp-action="Projects">ПРОЕКТЫ</a>
                    <a style="text-decoration: none;" asp-area="" asp-controller="MAXonBusinessCard" asp-action="Blog">БЛОГ</a>
                    <a class="authorization" style="text-decoration: none;" asp-area="" asp-controller="Account" asp-action="Login">ВОЙТИ</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="div-main">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="divContacts">
            <p>Контакты</p>
            <div class="contactsList">
                <a href="tel:+79162185817"><i class="fa fa-phone fa-lg"></i> 8-916-218-58-17</a>
                <a href="mailto:maxim28it@gmail.com"><i class="fa fa-envelope fa-lg"></i> maxim28it@gmail.com</a>
                <a href="https://t.me/maxon2812"><i class="fa fa-telegram fa-lg"></i> Чат в Telegram</a>
                <a href="https://api.whatsapp.com/send?phone=79162185817"><i class="fa fa-whatsapp fa-lg"></i> Чат в What's App</a>
            </div>
            <div class="contactListWithoutText">
                <a href="tel:+79162185817"><i class="fa fa-phone fa-lg"></i></a>
                <a href="mailto:maxim28it@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
                <a href="https://t.me/maxon2812"><i class="fa fa-telegram fa-lg"></i></a>
                <a href="https://api.whatsapp.com/send?phone=79162185817"><i class="fa fa-whatsapp fa-lg"></i></a>
            </div>
        </div>
        <div class="divPrivacy">
            <p>Юридическая информация</p>
            <div class="privacyList">
                <a asp-area="" asp-controller="LegalInformation" asp-action="PrivacyPolicy">Политика конфиденциальности</a>
                <a asp-area="" asp-controller="LegalInformation" asp-action="UserAgreement">Пользовательское соглашение</a>
            </div>
        </div>
        <div class="divCompany">
            <p>&copy; Безуглый Максим, 2020-2021. Сайт-портфолио.</p>
        </div>
    </footer>
    <script src="~/js/master.js"></script>
</body>
</html>